.hero-section {
    align-items: flex-start;
    background-blend-mode: overlay;
    background-color: var(--dark-blue-bg);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100 100"><defs><pattern id="circuit-pattern" width="15" height="15" patternUnits="userSpaceOnUse"><path d="M7.5 0 L7.5 7.5 L0 7.5" stroke="%2300FFFF" stroke-width="0.3" fill="none"/><path d="M7.5 7.5 L15 7.5 L15 15" stroke="%2300FFFF" stroke-width="0.3" fill="none"/></pattern></defs><rect width="100%" height="100%" fill="url(%23circuit-pattern)" opacity="0.08"/><circle cx="10" cy="10" r="1" fill="%2300FFFF" opacity="0.2"/><circle cx="90" cy="25" r="1" fill="%2300FFFF" opacity="0.2"/><circle cx="30" cy="80" r="1" fill="%2300FFFF" opacity="0.2"/><line x1="5" y1="5" x2="95" y2="95" stroke="%2300FFFF" stroke-width="0.2" opacity="0.1"/><line x1="95" y1="5" x2="5" y2="95" stroke="%2300FFFF" stroke-width="0.2" opacity="0.1"/></svg>');
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 600px;
    justify-content: center;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 1;
}

.hero-section>div {
    padding: 80px 0 50px 100px;
}

.hero-name {
    color: var(--text-light);
    font-family: var(--font-hero)!important;
    font-size: 4.5em;
    line-height: 1.1;
    margin: 0 0 10px 0;
    position: relative;
    text-shadow: 0 0 10px rgba(152, 184, 184, 0.2);
}

.hero-tagline {
    color: var(--text-darker);
    font-family: var(--font-sans);
    font-size: 4em;
    line-height: 1.1;
    margin: 0 0 30px 0;
    position: relative;
    z-index: 2;
}

.hero-description {
    color: var(--text-darker);
    font-family: var(--font-sans);
    font-size: 1.1em;
    line-height: 1.8;
    margin-bottom: 50px;
    max-width: 600px;
    position: relative;
    z-index: 2;
}

.hero-cta-button {
    background-color: transparent;
    border: 1px solid var(--primary-accent);
    border-radius: 4px;
    color: var(--primary-accent);
    font-family: var(--font-mono);
    font-size: 1.1em;
    overflow: hidden;
    padding: 18px 25px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s var(--bezier-ease);
    z-index: 1;
}

.hero-cta-button::before {
    background: var(--primary-accent);
    content: '';
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s var(--bezier-ease);
    width: 100%;
    z-index: -1;
}

.hero-cta-button:hover {
    box-shadow: 0 6px 20px rgba(0, 255, 255, 0.3);
    color: var(--dark-blue-bg);
    transform: translateY(-3px) scale(1.02);
}

.hero-cta-button:hover::before {
    transform: scaleX(1);
}