:root {
    --text-color: rgba(30, 87, 123);
}


body {
    min-height: 100vh;
    /* 100% dell'altezza del viewport */
    background-color: #0c0c0c;
}

header {
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.8), rgba(12, 12, 12, 0.8)) !important;
    background-size: cover;
    position: relative;
    height: calc(100vh);
    color: white;
    width: 100%;
}

.header-content {
    width: 80%;
    height: 100%;
    position: relative;
    z-index: 1;
    text-align: left;
    animation: fadeIn 1.5s ease-in-out;
    margin: auto;
}

.content-img {
    border-radius: 50%;
    /* Applica il border-radius solo al contenitore */
    border: 6px solid var(--text-color)!important;
    box-shadow: 0 0 60px var(--text-color)!important;
    position: relative;
    overflow: hidden;
    height: 300px;
    width: 300px;
    /* L'immagine all'interno verrà ritagliata seguendo il border-radius */
    margin: auto 0;
    padding: 0;
}


.profile-img {
    max-width: 300px;
    height: 100%;
    margin: 12px 0 0 0 !important;
    object-fit: cover;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
}

.center-box {
    background-color: #112d3f;
    border-radius: 24px 0 24px 0;
    margin: 0 0 0 36px;
    /* Rimuovi il margine per centrare correttamente */
    position: relative;
    padding-inline: 0.5rem 0.8rem;
    text-decoration: none;
    max-width: 550px !important;
    height: 150px;
    box-shadow: 0 0 60px var(--text-color);
    display: flex;
    /* Imposta display flex per contenuto interno */
    flex-direction: column;
    /* Orienta il contenuto in colonna */
    justify-content: center;
    /* Centra verticalmente il contenuto */
    text-align: left;
    /* Allinea il testo al centro */
    padding: 0 0 0 36px;
}

.center-box:before {
    right: 0;
    top: 0;
    border-right: 3px solid #84bde1;
    border-top: 3px solid #84bde1;
    -webkit-transform: translate(-100%, 50%);
    transform: translate(-100%, 50%);
}

.center-box:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid #84bde1;
    border-bottom: 3px solid #84bde1;
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
}

.center-box:before,
.center-box:after {
    position: absolute;
    height: 35px;
    width: 35px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    opacity: 1;
}

.center-box h1 {
    font-size: 3.5rem;
    margin: 10px 0;
}

.center-box h2 {
    font-size: 1.75rem;
    margin: 5px 0px 20px 0px;
}

/*Container*/
.container {
    margin: 0 0 24px 0;
}

.row{
    margin: 0 auto;
    width: 80%;
}
.content-description {
    flex: 1 1 45%;
    background: linear-gradient(135deg, #1a1a1a, #262626);
    border-radius: 12px;
    padding: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-8px);
    box-shadow: 0 8px 30px rgba(0, 153, 255, 0.3);
    flex-direction: column;
    color: white;
    font-size: 1.65rem;
    min-height: 300px;
    height: 100%;
    margin: 12px 0 0 0;

}

.content-container {
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.content-container h2 {
    color: #A0D3E8;
    /* Blu navy */
    border-bottom: 2px solid #666;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.content-container p {
    margin: 0 0 18px 0;
}



.project-image {
    max-width: 100%;
    /* L'immagine si adatta al contenitore */
    min-height: 225px;
    max-height: 300px;
    /* Mantiene le proporzioni */
    border-radius: 0.5rem;
    margin: 0 auto;
}

.card{
    min-height: 400px;
    height: 100%!important;
}

.card-header{
    display: flex;
}
.card-title {
    color: #a0d3e8;
    /* Colore del titolo */
}

.btn-primary:hover {
    background-color: #84bde1;
    /* Colore del pulsante al passaggio del mouse */
}

/*Footer*/
.footer {
    color: #666;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

.fade-in-up,
.fade-in-left,
.zoom-in,
.fade-in-title {
    opacity: 0;
    /* Nascondi inizialmente */
    transform: translateY(30px);
    /* Effetto "up" */
    transition: opacity 0.8s ease, transform 0.8s ease;
    /* Ridotto il tempo di animazione per una risposta più rapida */
}

/* Specifico per zoom */
.zoom-in {
    transform: scale(0.8);
    /* Partiamo da uno zoom ridotto */
}

/* Quando l'elemento è visibile */
.animate-in {
    opacity: 1;
    transform: translateY(0) scale(1);
    /* Reset delle trasformazioni */
}

/* Animazioni specifiche per i titoli */
.fade-in-title {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.animate-title-in {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 992px)
{
    header {
        height: calc(70vh);
        margin: 0 0 48px 0;
    }


    .content {
        flex-direction: column;
        /* Mantieni la direzione colonna per piccoli schermi */
    }
    .content-img {
        margin: 48px 0;
        max-height: 250px;
        /* Riduci l'altezza massima per schermi piccoli */
        max-width: 250px;
        /* Riduci la larghezza massima per schermi piccoli */
    }

    #projects{
        margin: 48px 0 0 0;
    }
}
@media (max-width: 768px) {
    

    


    .center-box {
        width: 100%;
        padding: 1rem;
        /* Aggiungi padding per contenuto più piccolo */
        margin: 0 0 48px 0;
    }

    .row{
        margin: 0 auto;
        width: 95%;
    }

    .card{
        min-height: 400px;
    }
}

@media (max-width: 576px) {

    .project-image {
        min-width: 210px;
        max-width: 100%!important;
        height: auto!important;
        min-height: 0;
        /* Mantiene le proporzioni */
        border-radius: 0.5rem;
        margin: 0 auto;
    }
}

