/* Personalizzazione della scrollbar per browser WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px;
    background-color: #0c0c0c;
}

/* Nascondi le frecce della scrollbar */
::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background-color: #0c0c0c;
    /* Sfondo del track dello scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 171, 251, 1);
    border-radius: 10px;
}

/* Stili generali */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.portfolio-text {
    position: absolute;
    left: 0;
    letter-spacing: 12px;
    color: rgba(0, 171, 251, 1);
    font-family: "Rockwell";
    font-size: 12vh;
    font-weight: bold;
    padding: 48px;
    text-align: left;
    transform: scale(-1.5, -1);
    writing-mode: vertical-lr;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.container {
    z-index: 2;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
    text-align: left;
    width: 820px;
}

.profile-pic-wrapper {
    width: 350px;
    height: 350px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic-wrapper svg {
    fill: white;
}

.profile-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.profile-details {
    flex-grow: 1;
}

.profile-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.profile-description {
    font-size: 1.2rem;
    color: #ccc;
    line-height: 1.5;
    overflow: hidden;
    white-space: pre-wrap;
    width: 100%;
    max-width: 450px;
    height: 150px;
}

/* Nascondi il testo fino a quando non è completamente visibile */
.profile-description.hidden {
    visibility: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.profile-info {
    margin-top: 20px;
    text-align: center;
}

.profile-info p {
    font-size: 1.2rem;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #ff6347;
}

/* Line background */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #0c0c0c;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    text-align: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(circle, rgba(12, 12, 12, 1), transparent),
        linear-gradient(to right, rgb(95, 255, 255) 3px, transparent 2px),
        linear-gradient(to bottom, rgba(95, 255, 255) 3px, transparent 2px);
    background-size: cover, 150px 150px, 150px 150px;
    background-blend-mode: multiply;
    opacity: 0.3;
}


/* Stili per il menu */
.fixed-menu {
    background-color: black;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.menu {
    list-style: none;
    padding: 16px 24px;
    margin: 0;
}

.menu li {
    display: inline-block;
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.menu li a:hover {
    background-color: #333;
}

/* Portfolio */
.portfolio {
    padding: 80px 0;
    background-color: #0c0c0c;
    text-align: center;
    color: #fff;
}

.section-title {
    font-size: 2.5rem;
    color: #fff;
    margin-bottom: 50px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.project {
    width: 600px;
    background-color: #222;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
}

.project-image {
    margin-bottom: 20px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.project-details {
    text-align: left;
}

.project-title {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.project-description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.project-technologies {
    font-size: 1rem;
    margin-bottom: 10px;
}

.project-technologies p {
    font-weight: bold;
    margin-bottom: 5px;
}

.project-technologies ul {
    list-style-type: none;
    padding: 0;
}

.project-technologies li {
    display: block;
    /* Visualizza gli elementi uno sotto l'altro */
    font-size: 1rem;
    margin-bottom: 5px;
    min-width: 25%;
    max-width: 25%;
    padding: 0 12px 0 0;
    width: auto;
    display: flex;
    flex-direction: column; /* Disposizione a colonna */
    align-items: left; /* Centra orizzontalmente */
    width: auto; /* Larghezza automatica */
    margin-bottom: 10px; /* Spazio tra gli elementi */
}

.project-technologies li i {
    margin-right: 5px;
}

.project-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #0056b3;
}

.project-technologies li .icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    fill: #39ff14;
    margin-right: 0; /* Rimuovi margine a destra */
    margin-bottom: 5px; /* Aggiungi margine inferiore */
}


.project-technologies li {
    
}

.project-technologies .icon {
    
}

.technology-list {
    display: flex;
}

/* Media Query per layout responsivo */
@media (max-width: 768px) {
    .portfolio-text {
        display: none;
    }

    .project {
        width: 100%;
    }

    .project-technologies li {
        display: block;
        margin-bottom: 10px;
        min-width: 0;
        width: 100%;
    }


    .profile {
        flex-direction: column;
        text-align: center;
    }


    .profile-pic-wrapper img {
        border-radius: 50%;
        width: 225px;
    }

}

/* Popup container */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    width: 80%;
    max-width: 800px;
    background: transparent;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.popup-close {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.popup-images {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
}

.popup-images img {
    max-width: 100%;
    margin: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.popup-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.popup-arrow.left {
    left: 10px;
}

.popup-arrow.right {
    right: 10px;
}

/* Stili per il footer */
.site-footer {
    width: 100%;
    background-color: #0c0c0c;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footer-content {
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content p {
    margin: 0;
    padding: 5px 0;
}

.footer-content a {
    color: #00abfb;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-content a:hover {
    color: #ff6347;
}